h1{
    font-size: 35px;
    text-align: center;
    color: #0C0B0E
    }
    p{
    font-size: 25px;
    text-align: left;
    font-family: Georgia, serif;;
    color: #0C0B0E
    }
    h2{
        font-size: 25px;
        text-align: left;
        font-family: Georgia, serif;;
        color: #0C0B0E
        }
          h3{
        font-size: 25px;
        text-align: left;
        font-family: Georgia, serif;;
        color: #0C0B0E
        }
          h4{
        font-size: 25px;
        text-align: left;
        font-family: Georgia, serif;;
        color: #0C0B0E
        }
          h5{
        font-size: 25px;
        text-align: left;
        font-family: Georgia, serif;;
        color: #0C0B0E
        }
    body {
    background-color: #D4F6F3;
    }